:root {
    /* Cores principais */
    --primary-corfundolight: #57b2e4;
    --primary-corfundodark: #205e94;
    --primary-light: #bbe1fa;
    
    /* Barras */
    --fundo-pesquisa: #6166FF;

    /* Cor de ação (botões / confirmação) */
    --success: #1b9c85;
    --success-hover: #157a6e;
    --button-padrao: #ffffff;
    --blue-accent: #2563eb;

    /* Neutros */
    --white: #ffffff;
    --gray-light: #d3cece85;
    --gray-medium: #cccccc;
    --gray-dark: #333333;

    /* Sombra */
    --shadow-default: #333333;
    
    /* cor de alertas */
    --red-aviso: #F53C3D;
    
    /* cor de saldo positivo e negativo*/
    --negativo: #e63946;
    --positivo: #2ecc71;
}