body{
    height: 100vh;
    display: flex;
}

.aligncontainer{
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container{
    height: 190px;
    width: 150px;
    text-align: center;
    display: flex; /* para habilitar a alteração de disposição*/
    flex-direction: column; /* como será empilhado os conteudos*/
    justify-content: flex-end; /* joga o conteudo para baixo no container*/
    box-shadow: 0 4px 6px var(--shadow-default);
    border-radius: 10px;
}

main button{
    height: 190px;
    width: 150px;
    background-color: var(--button-padrao);
    border-radius: 10px;
    border: 0px;
    
}
